@use "sass:map";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin FrameNumber001($options) {
  $defaults: (
    key: "default",
    background: #e7e7e7,
    borderColor: #000,
    numberColor: #000,
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-frame-number-001__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-frame-number-001__wrapper--#{map.get($settings, "key")} {
    .cm-frame-number-001 {
      position: relative;
    }

    .cm-frame-number-001__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: map.get($settings, "background");
      border: 1px solid map.get($settings, "borderColor");
      z-index: 0;
    }

    .cm-frame-number-001__inner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 1;
    }

    .cm-frame-number-001__number {
      font-weight: 700;
      line-height: 1;
      color: map.get($settings, "numberColor");
    }

    // type

    .cm-frame-number-001--001 {
      .cm-frame-number-001__background {
        border-radius: 50%;
      }
    }

    .cm-frame-number-001--002 {
      .cm-frame-number-001__background {
        border-radius: 0;
      }
    }

    .cm-frame-number-001--003 {
      .cm-frame-number-001__background {
        border-radius: rem(4);
      }
    }

    // size

    .cm-frame-number-001--size_large {
      width: em(40);
      height: em(40);

      .cm-frame-number-001__number {
        font-size: em(24);
      }
    }

    .cm-frame-number-001--size_middle {
      width: em(35);
      height: em(35);

      .cm-frame-number-001__number {
        font-size: em(18);
      }
    }

    .cm-frame-number-001--size_small {
      width: em(30);
      height: em(30);

      .cm-frame-number-001__number {
        font-size: em(14);
      }
    }
  }
}
