@use "sass:map";
@use "../../../../../styles/import" as *;

@mixin ListItem002($options) {
  $defaults: (
    key: "default",
    font-size: 24,
    color: #000,
    gap: 24,
    point: (
      size: 8,
      color: #000,
    ),
    animation: (
      color: #ccc,
      duration: 0.25s,
      ease: $easeInOutCubic,
      pointColor: #ccc,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-list-item-002__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-list-item-002__wrapper--#{map.get($settings, "key")} {
    .cm-list-item-002 {
      cursor: pointer;
      display: flex;
      justify-content: left;

      &:hover {
        .cm-list-item-002__text {
          color: map.get(map.get($settings, "animation"), "color");
        }

        .cm-list-item-002__point {
          background-color: map.get(map.get($settings, "animation"), "pointColor");
        }
      }
    }

    .cm-list-item-002__text-wrapper {
      width: 100%;
      padding-left: em(map.get($settings, "gap"));
    }

    .cm-list-item-002__text {
      display: block;
      color: map.get($settings, "color");
      font-size: em(map.get($settings, "font-size"));
      overflow-wrap: break-word;
      line-height: 1.5;
      transition: color map.get(map.get($settings, "animation"), "duration") map.get(map.get($settings, "animation"), "ease");
    }

    .cm-list-item-002__point-wrapper {
      height: calc(em(map.get($settings, "font-size")) * 1.5);
      position: relative;
    }

    .cm-list-item-002__point {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: map.get(map.get($settings, "point"), "color");
      width: em(map.get(map.get($settings, "point"), "size"));
      height: em(map.get(map.get($settings, "point"), "size"));
      border-radius: 50%;
      transition: background-color map.get(map.get($settings, "animation"), "duration") map.get(map.get($settings, "animation"), "ease");
    }
  }
}
