@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;

@mixin TextField004($options) {
  $defaults: (
    key: "default",
    fontSize: 18,
    lineHeight: 1.5,
    color: #000,
    backgroundColor: #eee,
    placeholderColor: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      backgroundColor: #fdd,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-text-field-004__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-text-field-004__wrapper--#{map.get($settings, "key")} {
    .cm-text-field-004 {
      position: relative;
      width: 100%;

      &.error {
        .cm-text-field-004__input {
          background-color: map.get(map.get($settings, "error"), "backgroundColor");
        }

        .cm-text-field-004__error {
          display: block;
        }
      }
    }

    $paddingTop: math.div(10, map.get($settings, "fontSize")) * 10;
    $paddingBottom: math.div(10, map.get($settings, "fontSize")) * 10;

    .cm-text-field-004__input {
      width: 100%;
      display: block;
      border: 0;
      font-size: em(map.get($settings, "fontSize"));
      background-color: map.get($settings, "backgroundColor");
      padding: em($paddingTop) em(math.div(10, map.get($settings, "fontSize")) * 10) em($paddingBottom);
      color: map.get($settings, "color");
      box-sizing: border-box;
      line-height: em(map.get($settings, "fontSize"));
      height: calc((map.get($settings, "lineHeight") * 5em) + em($paddingTop) + em($paddingBottom));
      min-height: calc((map.get($settings, "lineHeight") * 3em) + em($paddingTop) + em($paddingBottom));
      max-height: calc((map.get($settings, "lineHeight") * 15em) + em($paddingTop) + em($paddingBottom));

      &::placeholder {
        color: map.get($settings, "placeholderColor");
      }
    }

    .cm-text-field-004__error {
      display: none;
      color: map.get(map.get($settings, "error"), "color");
      font-size: em(map.get(map.get($settings, "error"), "fontSize"));
      margin: em(math.div(5, map.get(map.get($settings, "error"), "fontSize")) * 10) 0 0;
      line-height: 1;
    }

    // type

    .cm-text-field-004--001 {
      .cm-text-field-004__input {
        border-radius: 0;
      }
    }

    .cm-text-field-004--002 {
      .cm-text-field-004__input {
        border-radius: em(4);
      }
    }
  }
}
