@use "sass:map";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin NestedListItem002($options) {
  $defaults: (
    key: "default",
    fontSize: 24,
    lineHeight: 1.25,
    color: #000,
    leftIcon: (
      fill: #000,
      stroke: #000,
    ),
    rightIcon: (
      fill: #000,
      stroke: #000,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-nested-list-item-002__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-nested-list-item-002__wrapper--#{map.get($settings, "key")} {
    .cm-nested-list-item-002 {
      cursor: pointer;
      display: flex;
      justify-content: left;
    }

    .cm-nested-list-item-002__text-wrapper {
      width: 100%;
      padding: 0 em(24) 0 em(34);
    }

    .cm-nested-list-item-002__text {
      display: block;
      color: map.get($settings, "color");
      font-size: em(map.get($settings, "fontSize"));
      overflow-wrap: break-word;
      line-height: map.get($settings, "lineHeight");
    }

    .cm-nested-list-item-002__icon-wrapper {
      height: calc(em(map.get($settings, "fontSize")) * map.get($settings, "lineHeight"));
      position: relative;
    }

    .cm-nested-list-item-002__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(0deg);

      &.open {
        transform: translateY(-50%) rotate(180deg);
      }

      @include iconColor(
        (
          stroke: map.get(map.get($settings, "leftIcon"), "stroke"),
          fill: map.get(map.get($settings, "leftIcon"), "fill"),
        )
      );
    }

    .cm-nested-list-item-002__icon--left {
      left: 0;
    }

    .cm-nested-list-item-002__icon--right {
      right: 0;
    }
  }
}
