@use "../../import" as *;
@use "../../../components/Basic/TextField/Product001/style/index" as *;
@use "../../../components/Basic/TextField/Product002/style/index" as *;
@use "../../../components/Basic/TextField/Product003/style/index" as *;
@use "../../../components/Basic/TextField/Product004/style/index" as *;
@use "../../../components/Basic/TextField/Product005/style/index" as *;

@include TextField001(
  (
    key: "default",
    font-size: 18,
    color: #000,
    line-height: 1.5,
    border-color: #000,
    placeholder-color: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      borderColor: #f00,
    ),
  )
);
@include TextField002(
  (
    key: "default",
    font-size: 18,
    color: #000,
    line-height: 1.5,
    border-color: #000,
    placeholder-color: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      borderColor: #f00,
    ),
  )
);
@include TextField003(
  (
    key: "default",
    fontSize: 18,
    lineHeight: 1.5,
    color: #000,
    borderColor: #000,
    backgroundColor: #eee,
    placeholderColor: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      backgroundColor: #fdd,
    ),
  )
);
@include TextField004(
  (
    key: "default",
    fontSize: 18,
    lineHeight: 1.5,
    color: #000,
    backgroundColor: #eee,
    placeholderColor: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      backgroundColor: #fdd,
    ),
  )
);
@include TextField005(
  (
    key: "default",
    fontSize: 18,
    lineHeight: 1.5,
    color: #000,
    backgroundColor: #eee,
    borderColor: #000,
    placeholderColor: #909090,
    error: (
      fontSize: 16,
      color: #f00,
      backgroundColor: #fdd,
    ),
  )
);
