@use "../../import" as *;
@use "../../../components/Basic/Toggle/Product001/close/style/index" as *;
@use "../../../components/Basic/Toggle/Product001/open/style/index" as *;
@use "../../../components/Basic/Toggle/Product002/style/index" as *;

@include toggle001Close(
  (
    key: "default",
    line-color: #000,
    animation: (
      background-color-line: #ccc,
    ),
  )
);
@include toggle001Open(
  (
    key: "default",
    line-color: #000,
    animation: (
      background-color-before: #d9d9d9,
      background-color-after: #fff,
    ),
  )
);
@include toggle002(
  (
    key: "default",
    line-color: #000,
  )
);
