@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin Accordion002($options) {
  $defaults: (
    key: "default",
    borderColor: #eee,
    backgroundColor: #eee,
    iconColor: #000,
    header: (
      color: #000,
    ),
    content: (
      color: #000,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-accordion-002__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-accordion-002__wrapper--#{map.get($settings, "key")} {
    .cm-accordion-002 {
      position: relative;
      border: 1px solid map.get($settings, "borderColor");
      background-color: map.get($settings, "backgroundColor");
    }

    .cm-accordion-002__header {
      padding: em(10) em(15);
      cursor: pointer;
    }

    .cm-accordion-002__header-inner {
      position: relative;
    }

    .cm-accordion-002__title-wrapper {
      padding-right: em(30);
    }

    .cm-accordion-002__title {
      font-size: em(18);
      font-weight: 700;
      color: map.get(map.get($settings, "header"), "color");
    }

    .cm-accordion-002__icon {
      @include iconColor(
        (
          stroke: map.get($settings, "iconColor"),
          fill: map.get($settings, "iconColor"),
        )
      );

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .cm-accordion-002__content-wrapper {
      overflow: hidden;
      height: 0;
    }

    .cm-accordion-002__content {
      padding: em(10) em(15);
    }

    .cm-accordion-002__content-text {
      font-size: em(18);
      font-weight: 400;
      color: map.get(map.get($settings, "content"), "color");
      line-height: 1.5;
      word-break: break-all;
    }

    // type
    .cm-accordion-002--001 {
      border-radius: 0;
    }

    .cm-accordion-002--002 {
      border-radius: em(5);
    }
  }
}
