@use "sass:map";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin Label002($options) {
  $defaults: (
    key: "default",
    fontSize: 12,
    backgroundColor: #eee,
    borderColor: #eee,
    color: #fff,
    icon: (
      fill: #fff,
      stroke: #fff,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-label-003__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-label-003__wrapper--#{map.get($settings, "key")} {
    .cm-label-003 {
      padding-left: em(12);
      padding-right: em(12);
      background-color: map.get($settings, "backgroundColor");
      border: 1px solid map.get($settings, "borderColor");
      white-space: nowrap;
      display: inline-flex;
      align-items: center;
      gap: em(2);
    }

    .cm-label-003__text {
      color: map.get($settings, "color");
      font-size: em(map.get($settings, "fontSize"));
      line-height: 1;
    }

    .cm-label-003__icon {
      @include iconColor(
        (
          stroke: map.get(map.get($settings, "icon"), "stroke"),
          fill: map.get(map.get($settings, "icon"), "fill"),
        )
      );
    }

    .cm-label-003--icon-position_left {
      .cm-label-003__icon {
        order: 1;
      }

      .cm-label-003__text {
        order: 2;
      }
    }

    .cm-label-003--icon-position_right {
      .cm-label-003__icon {
        order: 2;
      }

      .cm-label-003__text {
        order: 1;
      }
    }

    // type

    .cm-label-003--001 {
      border-radius: 0;
    }

    .cm-label-003--002 {
      border-radius: em(5);
    }

    .cm-label-003--003 {
      border-radius: em(21);
    }

    // size

    .cm-label-003--size_small {
      padding-top: em(5);
      padding-bottom: em(5);
    }

    .cm-label-003--size_middle {
      padding-top: em(10);
      padding-bottom: em(10);
    }
  }
}
