@use "sass:map";
@use "../../../../../styles/import" as *;

@mixin button001($options) {
  $defaults: (
    key: "default",
    color: #000,
    background-color: #fff,
    border-color: #000,
    font-weight: 700,
    animation: (
      text-color: #fff,
      background-color: #000,
      duration: 0.25s,
    ),
  );

  // オプションとマージ
  $settings: map.deep-merge($defaults, $options);

  .cm-button-001__wrapper {
    display: block;

    @include baseFontSizeForEm();
  }

  .cm-button-001__wrapper--#{map.get($settings, "key")} {
    .cm-button-001 {
      width: 100%;
      text-align: center;
      cursor: pointer;
      display: block;
      background-color: map.get($settings, "background-color");
      position: relative;
      overflow: hidden;
      border: 1px solid map.get($settings, "border-color");

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: map.get($settings, "background-color");
        z-index: 0;
      }
    }

    .cm-button-001__icon {
      display: block;
    }

    // Type

    .cm-button-001--001 {
      border-radius: em(30);
    }

    .cm-button-001--002 {
      border-radius: em(8);
    }

    .cm-button-001--003 {
      border-radius: 0;
    }

    // Size

    .cm-button-001--small {
      padding: em(7) em(13);

      .cm-button-001__text {
        font-size: em(12);
      }
    }

    .cm-button-001--middle {
      padding: em(15) em(28);

      .cm-button-001__text {
        font-size: em(16);
      }
    }

    .cm-button-001--large {
      padding: em(25) em(45);

      .cm-button-001__text {
        font-size: em(18);
      }
    }

    .cm-button-001__text {
      display: block;
      font-weight: map.get($settings, "font-weight");
      color: map.get($settings, "color");
      position: relative;
      z-index: 1;
    }

    // Animation

    .cm-button-001--animation_001 {
      &::after {
        transition: background-color map.get(map.get($settings, "animation"), "duration") $easeInOutCubic;
      }

      .cm-button-001__text {
        transition: color map.get(map.get($settings, "animation"), "duration") $easeInOutCubic;
      }

      &:hover {
        .cm-button-001__text {
          color: map.get(map.get($settings, "animation"), "text-color");
        }

        &::after {
          background-color: map.get(map.get($settings, "animation"), "background-color");
        }
      }
    }

    .cm-button-001--animation_002 {
      &::after {
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform map.get(map.get($settings, "animation"), "duration") $easeOutCubic;
        background-color: map.get(map.get($settings, "animation"), "background-color");
      }

      .cm-button-001__text {
        transition: color map.get(map.get($settings, "animation"), "duration") $easeOutCubic;
      }

      &:hover {
        .cm-button-001__text {
          color: map.get(map.get($settings, "animation"), "text-color");
        }

        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
