@use "sass:map";
@use "../../../../../../styles/import" as *;

@mixin toggle001Close($options) {
  $defaults: (
    key: "default",
    line-color: #000,
    animation: (
      background-color-line: #ccc,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-toggle-001-close__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-toggle-001-close__wrapper--#{map.get($settings, "key")} {
    .cm-toggle-001-close {
      width: em(80);
      height: em(80);
      cursor: pointer;
      display: block;
      position: relative;
    }

    .cm-toggle-001-close__inner {
      width: 100%;
      height: 100%;
      position: relative;

      &:hover {
        .cm-toggle-001-close__line-wrapper {
          transform: scale(1.2);
        }

        .cm-toggle-001-close__line::after {
          transform: scale(1);
        }
      }
    }

    .cm-toggle-001-close__container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .cm-toggle-001-close__line-wrapper {
      position: relative;
      transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
      cursor: pointer;
    }

    .cm-toggle-001-close__line {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: em(28);
      height: em(4);
      background-color: map.get($settings, "line-color");

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: map.get(map.get($settings, "animation"), "background-color-line");
        transform: scale(0);
        transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}
