@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin Select001($options) {
  $defaults: (
    key: "default",
    color: #000,
    fontSize: 24,
    borderColor: #000,
    backgroundColor: #fff,
    placeholder: #909090,
    icon: (
      stroke: #000,
      fill: #000,
    ),
    error: (
      fontSize: 16,
      color: #f00,
      borderColor: #f00,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-select-001__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-select-001__wrapper--#{map.get($settings, "key")} {
    .cm-select-001 {
      position: relative;
      width: 100%;

      &.error {
        .cm-select-001__error {
          display: block;
        }

        .cm-select-001__inner {
          border-color: map.get(map.get($settings, "error"), "borderColor");
        }
      }
    }

    .cm-select-001__error {
      display: none;
      color: map.get(map.get($settings, "error"), "color");
      font-size: em(map.get(map.get($settings, "error"), "fontSize"));
      margin: em(math.div(5, map.get(map.get($settings, "error"), "fontSize")) * 10) 0 0;
      line-height: 1;
    }

    .cm-select-001__inner {
      width: 100%;
      border: 1px solid map.get($settings, "borderColor");
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: map.get($settings, "backgroundColor");
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
      padding-right: em(16);
    }

    $paddingTop: math.div(20, map.get($settings, "fontSize")) * 10;
    $paddingBottom: math.div(20, map.get($settings, "fontSize")) * 10;
    $paddingLeft: math.div(10, map.get($settings, "fontSize")) * 10;
    $paddingRight: math.div(20, map.get($settings, "fontSize")) * 10;

    .cm-select-001__select {
      width: 100%;
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: map.get($settings, "color");
      font-size: em(map.get($settings, "fontSize"));
      padding: em($paddingTop) em($paddingRight) em($paddingBottom) em($paddingLeft);

      &:has(option:checked[value=""]) {
        color: map.get($settings, "placeholder");
      }
    }

    .cm-select-001__icon {
      @include iconColor(
        (
          stroke: map.get(map.get($settings, "icon"), "stroke"),
          fill: map.get(map.get($settings, "icon"), "fill"),
        )
      );
    }

    // Type

    .cm-select-004--001 {
      .cm-select-004__inner {
        border-radius: 0;
      }
    }

    .cm-select-004--002 {
      .cm-select-004__inner {
        border-radius: em(5);
      }
    }
  }
}
