@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin CheckBox001($options) {
  $defaults: (
    key: "default",
    backgroundColor: #eee,
    borderColor: #eee,
    checked: (
      markColor: #fff,
      backgroundColor: #000,
      borderColor: #000,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-checkbox-001__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-checkbox-001__wrapper--#{map.get($settings, "key")} {
    .cm-checkbox-001 {
      position: relative;
    }

    .cm-checkbox-001__background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: map.get($settings, "backgroundColor");
      border: 1px solid map.get($settings, "borderColor");
      z-index: 0;
      box-sizing: border-box;
    }

    .cm-checkbox-001__input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
      margin: 0;

      &[type="checkbox"]:checked ~ .cm-checkbox-001__background {
        background-color: map.get(map.get($settings, "checked"), "backgroundColor");
      }

      &[type="checkbox"]:checked ~ .cm-checkbox-001__checkmark {
        display: block;
      }
    }

    .cm-checkbox-001__checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      display: none;

      @include iconColor(
        (
          stroke: map.get(map.get($settings, "checked"), "markColor"),
          fill: map.get(map.get($settings, "checked"), "markColor"),
        )
      );
    }

    // type

    .cm-checkbox-001--001 {
      .cm-checkbox-001__background {
        border-radius: 0;
      }
    }

    .cm-checkbox-001--002 {
      .cm-checkbox-001__background {
        border-radius: em(4);
      }
    }

    .cm-checkbox-001--003 {
      .cm-checkbox-001__background {
        border-radius: 50%;
      }
    }

    // size

    .cm-checkbox-001--size_small {
      width: rem(18);
      height: rem(18);
    }

    .cm-checkbox-001--size_middle {
      width: rem(30);
      height: rem(30);
    }
  }
}
