$PC_SIZE: 1280;
$TABLET_SIZE: 768;
$SP_SIZE: 480;

$REM_SIZE: 16;

/* color  - Mode 1 */
$color-chart-basic-primary: #f6f7faff;
$color-chart-basic-secondary: #000f;
$color-chart-basic-tertiary: #ffff;
$color-chart-basic-accent: #142fc6ff;
$color-chart-basic-disable: #c5c5c5ff;
$color-chart-basic-active: #333f;
$color-chart-basic-error: #f00f;
$color-chart-text-text_primary: #2a2f4eff;
$color-chart-text-text_secondary: #ffff;
$color-chart-text-text_tertiary: #000f;
$color-chart-text-text_accent: #142fc6ff;
$color-chart-text-text_error: #d50000ff;
$color-chart-border-border_primary: #2a2f4eff;
$color-chart-border-border_secondary: #ffff;
$color-chart-border-border_tertiary: #142fc6ff;
$color-chart-border-border_error: #d50000ff;
$color-chart-bg-bg_primary: #f6f7faff;
$color-chart-bg-bg_secondary: #142fc6ff;
$color-chart-bg-bg_tertiary: #ffff;
$color-chart-bg-bg_accent: #000f;
