@use "sass:map";
@use "sass:math";
@use "../../../../../styles/import" as *;
@use "../../../../../styles/common-components" as *;

@mixin Accordion003($options) {
  $defaults: (
    key: "default",
    iconColor: #000,
    header: (
      color: #000,
      barColor: #000,
      backgroundColor: #eee,
    ),
    content: (
      color: #000,
      backgroundColor: #fff,
    ),
  );

  $settings: map.deep-merge($defaults, $options);

  .cm-accordion-003__wrapper {
    @include baseFontSizeForEm();
  }

  .cm-accordion-003__wrapper--#{map.get($settings, "key")} {
    .cm-accordion-003 {
      position: relative;
    }

    .cm-accordion-003__header {
      padding: em(10) em(15) em(10) em(20);
      cursor: pointer;
      position: relative;
      background-color: map.get(map.get($settings, "header"), "backgroundColor");

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: em(5);
        height: 100%;
        background-color: map.get(map.get($settings, "header"), "barColor");
      }
    }

    .cm-accordion-003__header-inner {
      position: relative;
    }

    .cm-accordion-003__title-wrapper {
      padding-right: em(30);
    }

    .cm-accordion-003__title {
      font-size: em(18);
      font-weight: 700;
      color: map.get(map.get($settings, "header"), "color");
    }

    .cm-accordion-003__icon {
      @include iconColor(
        (
          stroke: map.get($settings, "iconColor"),
          fill: map.get($settings, "iconColor"),
        )
      );

      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .cm-accordion-003__content-wrapper {
      overflow: hidden;
      height: 0;
    }

    .cm-accordion-003__content {
      padding: em(10) em(15);
      background-color: map.get(map.get($settings, "content"), "backgroundColor");
    }

    .cm-accordion-003__content-text {
      font-size: em(18);
      font-weight: 400;
      color: map.get(map.get($settings, "content"), "color");
      line-height: 1.5;
      word-break: break-all;
    }
  }
}
